<div class="container-fluid" role="main">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="title" style="text-align: center">WEB SOCKET CHAT</h1>
    </div>
  </div>
  <div class="row table-row">
    <div class="col-lg-12 table-wrap" #scrollDiv>
      <table class="table">
        <tbody>
          <tr *ngFor="let msg of messages">
            <td style="width:20%">{{msg.date | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td style="width:10%">{{msg.username}}:</td>
            <td style="width:70%">{{msg.message}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br/>
  <div class="row" *ngIf="userConnected">
    <div class="col-lg-10 table-align px-0">
      <input #chatField class="textbox" [(ngModel)]="sendMessage" placeholder="type here" (keyup.enter)="send()"/>
    </div>
    <div class="col-lg-1 px-0"></div>
    <div class="col-lg-1 button-align pr-0">
      <button class="btn btn-primary" (click)="send()">SEND</button>
    </div>
  </div>
  <br/>
  <div class="row" *ngIf="!userConnected">
    <div class="col-lg-12 table-align px-0">
      <button class="btn btn-primary" (click)="openModal(modalData)">CONNECT</button>
    </div>
  </div>
</div>

<ng-template #modalData let-modal>
  <div class="modal-body">
    <p>Please Enter Your Username:</p>
    <input [(ngModel)]="username" class="textbox" (keyup.enter)="save(modal)"/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="username === undefined" (click)="save(modal)">Save</button>
    <button type="button" class="btn btn-danger" (click)="closeModal(modal)">Close</button>
  </div>
</ng-template>


<router-outlet></router-outlet>
